<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Becas Online</title>

    <!-- Favicon -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <!-- plugins css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../bower_components/PACE/themes/blue/pace-theme-minimal.css" />
    <link rel="stylesheet" href="../bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" />



    <!-- core css -->
    <link href="assets/css/ei-icon.css" rel="stylesheet">
    <link href="assets/css/themify-icons.css" rel="stylesheet">
    <link href="assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="assets/css/animate.min.css" rel="stylesheet">
    <link href="assets/css/app.css" rel="stylesheet">
</head>

<body ng-app="myApp" ng-controller="formCtrl">
    <div class="app">
        <div class="authentication">
            <div class="sign-in-2">
                <div class="container-fluid no-pdd-horizon bg" style="background-image: url('assets/images/others/img-30.jpg')">
                    <div class="row">
                        <div class="col-md-10 mr-auto ml-auto">
                            <div class="row">
                                <div class="mr-auto ml-auto full-height height-100">
                                    <div class="vertical-align full-height">
                                        <div class="table-cell">
                                            <div class="card">
                                                <div class="card-body">
                                                    <div class="pdd-horizon-30 pdd-vertical-30">
                                                        <div class="mrg-btm-30">
                                                            <img class="img-responsive inline-block" src="assets/images/logo/logo.png"
                                                                alt="">
                                                            <h2 class="inline-block pull-right no-mrg-vertical pdd-top-15">Iniciar
                                                                sesion</h2>
                                                        </div>
                                                        <p class="mrg-btm-15 font-size-13">Por favor ingrese su email y
                                                            su contraseña</p>
                                                        <form>
                                                            <div class="form-group">
                                                                <input type="text" class="form-control" placeholder="Email"
                                                                    ng-model="user.user">
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="password" class="form-control" placeholder="Contraseña"
                                                                    ng-model="user.password">
                                                            </div>
                                                            <!-- <div class="checkbox font-size-13 inline-block no-mrg-vertical no-pdd-vertical">
                                                                <input id="agreement" name="agreement" type="checkbox">
                                                                <label for="agreement">Recorda</label>
                                                            </div> -->
                                                            <div class="pull-right">
                                                                <a href="">¿Olvidaste tu contraseña??</a>
                                                            </div>
                                                            <div class="mrg-top-20 text-right">
                                                                <button class="btn btn-info" ng-click="login()">Iniciar
                                                                    sesion</button>
                                                            </div>
                                                        </form>
                                                        <p class="mrg-btm-15 font-size-13 btn btn-danger btn-inverse btn-rounded" ng-show="showmessage"><b>{{message
                                                            }}</b></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- build:js assets/js/vendor.js -->
    <!-- plugins js -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/popper.js/dist/umd/popper.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/PACE/pace.min.js"></script>
    <script src="../bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <!-- endbuild -->



    <!-- build:js assets/js/app.min.js -->
    <!-- core js -->
    <!-- <script src="assets/js/app.js"></script> -->
    <script>
        var app = angular.module('myApp', []);
        app.controller('formCtrl', function ($scope) {
            $scope.user;
            $scope.message = "El usuario y la contraseña no coinciden."
            $scope.showmessage = false;
            vm = $scope;

            $scope.login = function () {
                if (vm.user.user == "admin" && vm.user.password == "admin123") {
                    $scope.showmessage = false;
                    window.location.href = "index_admin.html";
                    return;
                    console.log("admin");
                }
                else { $scope.showmessage = true; }
                if (vm.user.user == "rocio" && vm.user.password == "rocio123") {
                    console.log("rocio");
                    $scope.showmessage = false;
                    window.location.href = "index-user.html";
                    return;
                }
                else { $scope.showmessage = true; }
                if (vm.user.user == "utn1" && vm.user.password == "utn1") {
                    console.log("utn1");
                    $scope.showmessage = false;
                    window.location.href = "index_jubge.html";
                    return;
                }
                else { $scope.showmessage = true; }
            };

        });
    </script>
    <!-- endbuild -->

    <!-- page js -->

</body>

</html>